package.json
bun.lockb
node_modules
build
dist
CHANGELOG.md
README.md
pre-commit
.changeset/*

// Ignore all Solidity code except for some contracts that we write ourselves
*.sol
!packages/modules/token/contracts/**/*.sol